* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: black; 
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    height: auto;
    margin: 20px auto;
    color: white;
    

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
    border: 1px solid black;
    width: 300px;
    height: auto;
    border-radius: 5px;
     background-color: hsl(257, 40%, 49%);
     
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* padding-right: 120px;
  padding-top: 20px; */

}
.head-img {
    height: 30px;
    padding-right: 120px;
    margin-top: 15px;
    
}
.mobile-icon {
}
.illustration-image {
    height: 170px;
    margin-bottom: 15px;
    
}
section {
    text-align: center;
    h2 {
        font-weight: 500;
        line-height: 27px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    h4 {
        font-weight: 100;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: -8px;
    }
}
button {
    color: hsl(257, 40%, 49%);
    padding: 6px;
    border-radius: 999px;
    border: 1px solid transparent;
    width: 150px;
    font-size: 11px;
    margin-bottom: 10px;
    cursor: pointer;
    
}
.socials  {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  gap: 10px;     
  margin-bottom: 15px;             
  
}

.socials a {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.socials a:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
} 
@media (min-width:1024px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        height: auto;
    }
}

