* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body {
    background-size: cover;
    color: white;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/images/bg-mobile.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;

}
.head-img {
    width: 150px;
}
.illustration-image {
    width: 100%;
    margin-bottom: 15px;
    
}
section {
    text-align: center;
    h2 {
        font-weight: 500;
        line-height: 27px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    h4 {
        font-weight: 100;
        font-size: 23px;
        line-height: 35px;
        margin-bottom: -8px;
    
    }
}
button {
    color: hsl(257, 40%, 49%);
    padding: 6px;
    border-radius: 999px;
    border: 1px solid transparent;
    width: 150px;
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
    margin: 0px auto;
    
}
.socials  {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  gap: 10px;     
             
  
}

.socials a {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
 }

.socials a:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
} 
